{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
<title>CCOA | Delete {{sermon.sermon_title}}</title>


    {% block bootstrap5_before_content %}
    <div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}">
        <div class="container">
            <h2 class="page-title">Delete {{sermon.sermon_title}}</h2>
        </div>
    </div>
    {% endblock %}
{% block bootstrap5_content %}

<br>
<br>

<nav class="navbar navbar-nav nav-dark">
    <h1>Are you sure you want to delete <i><strong>{{sermon.sermon_title}}?</strong></i></h1>
</nav>
</div>
<div style="text-align: center">
<form class="glyphicon-align-center" method="POST">
{% csrf_token %}
<div  class="myclass-10" >
    <iframe src="{{sermon.sermon_youtube_link}}" width="350" height="290" frameborder="0"></iframe>
    <h3 class=" text-lowercase m-4"><strong><span class="text-uppercase">a</span>ction cannot be undone</strong></h3>
    <button type="submit" class="btn btn-outline-dark btn-lg ">confirm Delete</button>
</div>
</form>
</div>
{% endblock  %}
</html>